<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>main</title>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>

    <div class="sidebar">
      <header>Web App</header>
      <ul>
        <li><a href="{{ url_for('home') }}"><i class="fas fa-qrcode"> Detection </i></a></li>
        <li><a href="{{ url_for('project') }}"><i class="fas fa-stream"> The Project </i></a></li>
        <li><a href="#"><i class="fas fa-question-circle"> About the authors </i></a></li>
        <li><a href="#"><i class="fas fa-envelope"> Contact us</i></a></li>
      </ul>
    </div>
    <section></section>
  </body>
</html>
