<div class="container">

    {% include 'sidebar.html' %}

  <br>
  <div class="content-display">display here output from the detection engine </div>
  <div class="content-load">
    <input type="file" name="inpFile" id = "inpFile">
    <div class="image-preview" id="imagePreview">
      <img src="" alt="Image Preview" class="image-preview__image">
      <span class="image-preview__default-text">Image Preview</span>
    </div>
    <input type="hidden" name="pickupid" id="pickupid" value="" />
    <input class="btn btn-success m-1" type="button" id="btn-load" value="Upload" onClick="sendToS3()">
  </div>
  <div class="content-meta" id="output">Metadata from detection</div>
  <div class="content-settings">
    <div class="git-btn">

      <a href="#"><i class="fa fa-github" style="font-size:36px; color:#26A69A"></i></a>
      <a href="{{ url_for('settings') }}"><i class="fa fa-cog" style="font-size:36px; color:#26A69A" ></i></a>
    </div>
  </div>

</div>



