<div id= "sidebar">
    <div class="header"> Anatomical stages radiography detection  </div>
      <div class="toggle-btn" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
      </div>

    <ul style="list-style: none;">
      <li><a href="{{ url_for('home') }}" class="cool-link">Home</a></li>
      <li><a href="{{ url_for('project') }}" class="cool-link">The project</a></li>
      <li><a href="#" class="cool-link">About the team</a></li>
    </ul>
  <div class="logout-btn">
    <a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
  </div>

</div>

<script>

    function toggleSidebar(){
      document.getElementById("sidebar").classList.toggle("active");
    }
  
  </script>